body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #050505;
    color: #b41313;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: none;
}

thead {
    background-color: #0c0b0b;
    color: #bb1313;
}

th, td {
    border: 1px solid #b30000;
    padding: 8px;
    text-align: left;
}

p {
    margin: 10px 0;
}
h1 {
    color: #ff0000;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/*About Styles*/
img {
    width: 300px;
    height: 300px;
}
